.custom-dark-toast{
  background: #323232;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

.custom-dark-toast > .toastify__close{
  color: #fff;
}

.custom-blue-progress{
  background: #08fdd8;
  height: 2px;
}