.homeLowerPanelContainer {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.homeInformationBlockViewContainer{
  float: left;
  width: 33%;
  height: 100%;
  padding: 0% 3%;

  .blockHeader{
    margin: 2px 5px;
  }

  .imageContainer{
    margin: 7% 0;
    height: 60%;
    width: 100%;
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;

    &.whoIAm{
      background-image: url("./images/04-blackpaper.png");
    }

    &.whatIDo{
      background-image: url("./images/05-blackpaper.png");
    }

    &.whereToFindMe{
      background-image: url("./images/06-blackpaper.png");
    }
  }

  .blockInformationContainer{
    float: left;

  }

  .blockButton{
    border: 1px solid #1d1c1c;
    margin: 5% 0;
    float: left;
    padding: 6px 10px;
    border-radius: 5px;
  }
}