@import "mixin";

html, body{
  height: 100%;
}

.wrapperMain{
  height: 100%;

  .rightPanelContainer{
    background: #252627;
    height: 100%;
    width: calc(100% - 60px);
    float: right;

    .particleCanvasContainer{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .tags{
      @include tagPseudoElement();
      left: 100px;

      &.upperTags{
        top: 38px;
      }

      &.lowerTags{
        bottom:38px;
      }
    }
  }
}

.mainBody{
  width: 100%;
  height: 90%;
}