@import "mixin";

.skillPageContainer{

  .skillLeftBlock{

    .informationBlock{

      .headerInformation{
        &.shakeWithH1{
          font-size: 40px;
          white-space: pre;
          color: #08fdd8;
          line-height: 40px;
        }
      }

      .bodyInformation{
        width: 80%;
        &.shakeWithH1{
          font-size: 15px;
          line-height: 15px;
          white-space: pre;

          &::before{
            display: none;
          }

          &::after{
            display: none;
          }

          .character_shake{
            &:hover{
              color: #ffffff;
            }
          }
        }
      }
    }

    .workexTimeline{
      float: left;
      width: 50%;

      margin-top: 10%;


      .timelineWrapper{
        border-bottom: 3px solid #808080;
        width: 100%;
        height: 100%;

        .intern{
          height: 5px;
          float: left;
          width: 17%;
          background: #dd0a49;
        }
        .contentserv{
          height: 5px;
          float: left;
          width: 51%;
          background: #d26cd5;
        }
        .nowork{
          height: 5px;
          float: left;
          width: 9%;
          background: #383838;
        }
        .sunyrf{
          height: 5px;
          float: left;
          width: 23%;
          background: #03fdd9;
        }


      }
    }
  }

  .skillRightBlock{
    padding: 3% 0;

    #myCanvasContainer{
      #myCanvas{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 90%;
        height: auto;
      }
    }
  }
}
