@import "mixin";

.contactPageContainer {
  height: 100%;
  width: 100%;
  float: left;
  position: relative;


  /*.contactLeftBlock {
    width: 40%;
    height: 100%;
    float: left;

    &.pageLeftBlock {
      position: absolute;
      left: 10%;
      top: 60%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40%;
      max-height: 80%;

      .informationBlock {
        position: relative;


        .headerInformation {
          &.shakeWithH1 {
            font-size: 40px;
            white-space: pre;
            color: #08fdd8;
            line-height: 40px;


            &::after{
              @include tagPseudoElement();
              content: "</h1>";
              bottom: -75px;
              left: 0;
            }
          }
        }

        .bodyInformation {
          width: 80%;
          &.shakeWithH1 {
            font-size: 15px;
            line-height: 15px;
            white-space: pre;

            &::before {
              display: none;
            }

            &::after {
              display: none;
            }

            .character_shake {
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
    }

  }*/

  .contactRightBlock {
    height: 100%;
    //width: 50%;
    width: 100%;
    float: right;
  }

  .getInTouchBlockContainer{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 999999;
  }

  .getSendMeMailBlockContainer{
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 999999;
  }

  .addressBlockContainer{
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 999999;
  }

  .messageBlockContainer{
    background: rgb(24, 24, 24);
    z-index: 999999;
    width: 250px;
    padding: 20px;
    color: #fff;
    font-family: "Open Sans","Helvetica",Arial,sans-serif;
    font-size: 17px;
    font-weight: 300;
    border-radius: 15px;

    .mailIndicator {
      color: #06c5a9;
    }
  }

}