.leftToolbarPanelContainer {
  background: #181818;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .myLogo {
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/MyLogo_S_60.png");

    /*&::before{
      content: "";
      display: inherit;
      height: 50px;
      width: 50px;
      cursor: pointer;
      border-radius: 50%;
      background: #08fdd8;
      opacity: .5;
    }*/
  }

  .toolbarIconContainer {
    display: block;
    text-align: center;
    position: absolute;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;

    .toolbarIcon {
      height: 40px;
      width: 60px;
      background-position: center;
      background-size: 26px;
      background-repeat: no-repeat;
      transition: all ease .5s;
      cursor: pointer;

      &.home {
        background-image: url("./images/Home-26-Black.png");
        &::after {
          content: "HOME";
          height: 40px;
          width: 60px;
          line-height: 40px;
          font-size: 9px;
          opacity: 0;
          color: #08fdd8;
          background: #181818;
          transition: all ease .3s;
        }

        &.active {
          background-image: url("./images/Home-26-Blue.png");
        }

        &:hover {
          &::after {
            opacity: 1;
          }
          background-image: none;
          &.active {
            background-image: none;
          }
        }

      }

      &.aboutMe {
        background-image: url("./images/Spy Male Filled-50-Black.png");
        &::after {
          content: "ABOUT";
          height: 40px;
          width: 60px;
          line-height: 40px;
          font-size: 9px;
          opacity: 0;
          color: #08fdd8;
          background: #181818;
          transition: all ease .3s;
        }

        &.active {
          background-image: url("./images/Spy Male Filled-50-Blue.png");
        }

        &:hover {
          &::after {
            opacity: 1;
          }
          background-image: none;
          &.active {
            background-image: none;
          }
        }

      }

      &.skill {
        background-image: url("./images/Source Code-26-Black.png");
        &::after {
          content: "SKILL";
          height: 40px;
          width: 60px;
          line-height: 40px;
          font-size: 9px;
          opacity: 0;
          color: #08fdd8;
          background: #181818;
          transition: all ease .3s;
        }

        &.active {
          background-image: url("./images/Source Code-26-Blue.png");
        }

        &:hover {
          &::after {
            opacity: 1;
          }
          background-image: none;
          &.active {
            background-image: none;
          }
        }

      }

      &.work {
        background-image: url("./images/User Folder-48-Black.png");
        &::after {
          content: "WORK";
          height: 40px;
          width: 60px;
          line-height: 40px;
          font-size: 9px;
          opacity: 0;
          color: #08fdd8;
          background: #181818;
          transition: all ease .3s;
        }

        &.active {
          background-image: url("./images/User Folder-48-Blue.png");
        }

        &:hover {
          &::after {
            opacity: 1;
          }
          background-image: none;
          &.active {
            background-image: none;
          }
        }

      }

      &.contact {
        background-image: url("./images/Message Filled-26-Black.png");
        &::after {
          content: "CONTACT";
          height: 40px;
          width: 60px;
          line-height: 40px;
          font-size: 9px;
          opacity: 0;
          color: #08fdd8;
          background: #181818;
          transition: all ease .3s;
        }

        &.active {
          background-image: url("./images/Message Filled-26-Blue.png");
        }

        &:hover {
          &::after {
            opacity: 1;
          }
          background-image: none;
          &.active {
            background-image: none;
          }
        }

      }
    }
  }

  .socialMediaIconContainer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    .mediaIcon{
      height: 30px;
      width: 60px;
      background-position: center;
      background-size: 20px;
      background-repeat: no-repeat;
      transition: all ease .5s;
      cursor: pointer;

      &.facebook{
        background-image: url("./images/Facebook-26-Black.png");

        &:hover{
          background-image: url("./images/Facebook-26-Blue.png");
        }
      }

      &.twitter{
        background-image: url("./images/Twitter-26-Black.png");

        &:hover{
          background-image: url("./images/Twitter-26-Blue.png");
        }
      }

      &.linkedIn{
        background-image: url("./images/LinkedIn-26-Black.png");

        &:hover{
          background-image: url("./images/LinkedIn-26-Blue.png");
        }
      }

      &.instagram{
        background-image: url("./images/Instagram-48-Black.png");

        &:hover{
          background-image: url("./images/Instagram-48-Blue.png");
        }
      }

      &.github{
        background-image: url("./images/Github-filled-50-black.png");

        &:hover{
          background-image: url("./images/Github-filled-50-blue.png");
        }
      }
    }
  }
}